.contentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1024px;
  margin: 30px auto 0;
}

.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  .parallaxText {
    margin-top: 100px;

    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    color: white;
    text-transform: uppercase;

    p {
      margin-top: 20px;

      color: #e2e9f5;
    }
  }
}

.gap {
  height: 20px;

  .gapInner {
    position: relative;
    bottom: 10px;

    height: 40px;

    backdrop-filter: blur(2px);
  }
}

.parallaxJS {
  height: 500px;

  background-image: url('../../assets/images/js-logo.jpg');
  background-position: center;

  .mask {
    width: 100%;
    height: 100%;

    backdrop-filter: brightness(90%) hue-rotate(223deg) saturate(58%);
  }
}

.parallaxContent {
  background-image: url('../../assets/images/form-background-js.jpg');
}

@media (max-width: 800px) {
  .parallax {
    .parallaxText {
      font-size: 2rem;
    }
  }
}

@media (max-width: 500px) {
  .parallax {
    .parallaxText {
      font-size: 1.5rem;
    }
  }
}
