.aboutContainer {
  max-width: 1024px;
  margin: 10px auto 0;

  .aboutHeader {
    margin: 15px;

    font-size: 2rem;
    text-align: center;
  }

  .aboutText {
    margin: 50px;
  }
}

.contactsContainer {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 300px;

  .contactsBlock {
    margin: 10px;

    .contactsLink {
      font-size: 0.9rem;
      font-family: 'Chakra Petch', sans-serif;
      text-align: center;
      color: darkblue;
      text-decoration: none;

      &:hover {
        color: #2d79f5;
      }
    }

    p {
      // margin-bottom: 10px;
    }
  }
}
